/* #site-content {
  height: 100%;
} */

.wrapper {
  display: grid;
  /* grid-template-columns: 20% 80%; */
  height: 800px;
  align-items: stretch;
}

.navbar {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: black;
  position: sticky;
}

.main-page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  max-height: 100%;
  max-width: 100%;
  position: relative;
}

#style-list, #country-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  width: 80%;

  list-style-type: none;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  color: white;
  padding-top: 80px;
}

#style-list li {
  display: flex;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

#country-list li {
  display: flex;
  width: 270px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  background-color: black;
}

#ALE {background-color: #EADA24;}
#LAGER {background-color: #FFC72C;}
#PILSNER {background-color: #FF9E1B;}
#IPA {background-color: #D86018;}
#STOUT {background-color: #452325;}
#PORTER {background-color: #5E3032;}
#WHEAT {background-color: #D38235;}
#FRUIT {background-color: #D23B00;}
#HEFEWEIZEN {background-color: #E87B00;}


#monk-logo {
  display: flex;
  position: absolute;
  width: 60%;
  margin: auto auto auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 200px;
  /* align-self: center; */
}

#monk-logo-full {
  /* height: 100%; */
  width: 100%;
  opacity: 1.0;
  position: relative;
  object-fit: contain;
}

#monk-logo-full:hover {
opacity: 0.3;
}

#monk-by-the-sea {
  height: 100%;
  width: 100%;
  z-index: -200;
  position: absolute;
}

#philosophy {
  display: flex;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  width: 65%;
  margin: 250px auto auto auto;
  left: 0;
  right: 0;
  z-index: 100;
  position: absolute;
  background-color: black;
  padding: 10px 40px 10px 40px;
  color: white;
  border-radius: 5px;
}


.center {
  margin: auto;
  padding-left: 30px;

  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: white;
}


.menu {
  display: inline;
  position: absolute;
  padding-right: 30px;
  right: 0;
  top: 32%;
  /* width: 100%; */
  text-align: right;
  color: white;

  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

#option-1 {
  display: inline;
  padding: 10px;
}

#option-2 {
  display: inline;
  padding: 10px;
}

#option-3 {
  display: inline;
  padding: 10px;
}

.headers {
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #2d2d2b;
  padding-left: 20px;
}

#beer-list, #brewery-list {
  display: flex;
  flex-direction: column;
  align-items: left;

  list-style-type: none;
  font-family: brother-1816, sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 0px 0px 100px;
}

.index-header {
  font-family: brother-1816, sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 30px 0px 0px 100px;
}

li.beer-name {
  padding: 10px;
}

input {
  width: 80%;
}

.beer-div, .brewery-div {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
}

.beer-div h1 {
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.brewery-div h1 {
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.beer-div p {
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.brewery-div p {
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  width: 60%;
  text-align: center;
}

.beer-div h5 {
  padding: 10px;
}

.beer-img, .brewery-img {
  /* image-resolution: 300dpi; */
  width: 25%;
  padding: 20px;
}

#add-review-btn {
  border-radius: 2px;
  border: 0;
  width: 16%;
  height: 6%;
  background-color: black;
  color: white;

  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-size: 1.5vw;
  font-weight: 500;
}
