#site-content {
  height: 100%;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 20% 80%; */
  height: 800px;
  align-items: stretch;
}

.navbar {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: black;
  position: sticky;
}

.sidebar {
  display: grid;
  grid-template-rows: 20% 80%;
  background-color: black;
  color: white;
  height: 100%;
}

.main-page {
  max-height: 100%;
  max-width: 100%;
  position: relative;
}


#category-list {
  list-style-type: none;
  padding: 10px;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 20px;
  font-size: 60px;
}

.logo-container {
  z-index: 200;
  position: absolute;
}

#monk-logo {
  position: sticky;
  width: 40%;
  height: 40%;
}

#monk-by-the-sea {
  height: 100%;
  width: 100%;
  position: absolute;
}

/* body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Caspar_David_Friedrich_-_Der_M%C3%B6nch_am_Meer_-_Google_Art_Project.jpg/1200px-Caspar_David_Friedrich_-_Der_M%C3%B6nch_am_Meer_-_Google_Art_Project.jpg");
  background-repeat: no-repeat;
} */

.center {
  left: 40px;
  margin: auto;

  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: white;
}


.menu {
  display: inline;

  position: absolute;
  left: 0;
  top: 32%;
  padding-right: 30px;
  width: 100%;
  text-align: right;
  color: white;
}

#option-1 {
  display: inline;
  padding: 10px;

  /* position: absolute;
  left: 0;
  top: 25%;
  padding-right: 270px;
  width: 100%;
  text-align: right; */
}

#option-2 {
  display: inline;
  padding: 10px;

  /* position: absolute;
  left: 0;
  top: 25%;
  padding-right: 150px;
  width: 100%;
  text-align: right; */
}

#option-3 {
  display: inline;
  /* padding: 10px; */

  /* position: absolute;
  left: 0;
  top: 25%;
  padding-right: 30px;
  width: 100%;
  text-align: right; */
}

.headers {
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #2d2d2b;
  padding-left: 20px;
}

#beer-list {
  list-style-type: none;
}

#featured-list {
  list-style-type: none;
  padding: 20px;
}

li.beer-name {
  padding: 10px;
}

input {
  width: 80%;
}

.beer-div, .brewery-div {
  padding: 30px;
}

.beer-img, .brewery-img {
  /* image-resolution: 300dpi; */
  width: 300px;
}
