#site-content {
  height: 100%;
}

.wrapper {
  display: grid;
  /* grid-template-columns: 20% 80%; */
  height: 800px;
  align-items: stretch;
}

.navbar {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: black;
  position: sticky;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-height: 100%;
  max-width: 100%;
  position: relative;
}

#style-list, #country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  color: white;
  padding: 10px;
}

#ALE {background-color: #EADA24;}
#LAGER {background-color: #FFC72C;}
#PILSNER {background-color: #FF9E1B;}
#IPA {background-color: #D86018;}
#STOUT {background-color: #452325;}
#PORTER {background-color: #5E3032;}
#WHEAT {background-color: #D38235;}
#FRUIT {background-color: #D23B00;}
#HEFEWEIZEN {background-color: #E87B00;}

#UNITEDSTATES {background-color: #D86018;}
#GERMANY {background-color: #EADA24;}
#JAPAN {background-color: #FFC72C;}


.style-div, .country-div {
  display: flex;
  padding: 10px;
  width: 350px;
}

#monk-logo {
  width: 60%;
  position: absolute;
  margin: auto auto auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 200px;
}

#monk-by-the-sea {
  height: 100%;
  width: 100%;
  z-index: -200;
  position: absolute;
}


.center {
  left: 40px;
  margin: auto;

  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: white;
}


.menu {
  display: inline;

  position: absolute;
  left: 0;
  top: 32%;
  padding-right: 30px;
  width: 100%;
  text-align: right;
  color: white;
}

#option-1 {
  display: inline;
  padding: 10px;

  /* position: absolute;
  left: 0;
  top: 25%;
  padding-right: 270px;
  width: 100%;
  text-align: right; */
}

#option-2 {
  display: inline;
  padding: 10px;

  /* position: absolute;
  left: 0;
  top: 25%;
  padding-right: 150px;
  width: 100%;
  text-align: right; */
}

#option-3 {
  display: inline;
  /* padding: 10px; */

  /* position: absolute;
  left: 0;
  top: 25%;
  padding-right: 30px;
  width: 100%;
  text-align: right; */
}

.headers {
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #2d2d2b;
  padding-left: 20px;
}

#beer-list, #brewery-list {
  list-style-type: none;
  font-family: brother-1816, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
}

li.beer-name {
  padding: 10px;
}

input {
  width: 80%;
}

.beer-div, .brewery-div {
  padding: 30px;
}

.beer-img, .brewery-img {
  /* image-resolution: 300dpi; */
  width: 300px;
}
